<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.wakim.eslpodclient">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".Application"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${fabricApiKey}" />

        <activity
            android:launchMode="singleTop"
            android:theme="@style/LauncherAppTheme"
            android:name=".ui.podcastlist.view.PodcastListActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:parentActivityName=".ui.podcastlist.view.PodcastListActivity"
            android:label="@string/settings"
            android:name=".ui.settings.view.SettingsActivity" />

        <activity
            android:name=".filepicker.CustomFilePickerActivity"
            android:label="@string/app_name"
            android:theme="@style/FilePickerTheme" />

        <activity
            android:parentActivityName=".ui.settings.view.SettingsActivity"
            android:label="@string/oss_licenses"
            android:name=".ui.settings.view.LicensesActivity" />

        <activity
            android:documentLaunchMode="none"
            android:noHistory="true"
            android:name="br.com.wakim.eslpodclient.android.notification.NotificationActivity"
            tools:ignore="UnusedAttribute" />

        <receiver android:name="android.support.v4.media.session.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <receiver android:name="br.com.wakim.eslpodclient.android.service.DownloadManagerReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
            </intent-filter>
        </receiver>

        <service
            android:name="br.com.wakim.eslpodclient.android.service.PlayerService"
            android:exported="false">

            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </service>

        <service
            android:name="br.com.wakim.eslpodclient.android.service.StorageService"
            android:exported="false" />
    </application>
</manifest>